<h2 mat-dialog-title class="center">
    Credits / Support
</h2>

<div class="center">
    <div style="color: #bfbfbf;">Music stats and visualizations for groups of friends, powered by Last.fm.<br>Copyright © Last.fm with Friends 2020-2024 by Neil Menon</div><br>
    
    <a href="https://github.com/neilmenon/lastfm-with-friends" matTooltip="View on Github" matTooltipPosition="right" target="_blank" style="font-size: 26px;color: #bfbfbf;" class="clear-color">
        <i class="fab fa-github"></i>
    </a><br><br>
    
    <div class="color-clear">
        Last.fm with Friends is an <a href="https://github.com/neilmenon/lastfm-with-friends" target="_blank">open-source</a> project that is powered by the <a href="https://www.last.fm/api" target="_blank">Last.fm API</a>. I initially created this to use with my housemates to see what our favorite artists were, and then I slowly built it out into a full-fledged tool with lots of random features I found useful. I never wanted to recreate the same features found on Last.fm but rather use Last.fm's awesome service to transform music stats into a group context. The project was developed on an Angular / Flask / NGINX / MariaDB stack and it's currently self-hosted.
        
        <br><br>
    
        <strong>If you're enjoying the app, please consider helping me fund the <a href="https://www.buymeacoffee.com/neilmenon" target="_blank">hosting costs</a>&nbsp;<i class="fas fa-coffee"></i>! I greatly appreciate it.</strong>
        
    </div>
</div>