.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 201px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.hidden {
  display: none;
}

@media screen and (max-width: 500px) {
  .sign-in {display: none;}
}

@media (min-width: 768px) {
  .mat-toolbar.mat-primary {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 56px;
}

.navbar-user-button {
  line-height: 43px;
}

.navbar-user-image {
  height: 26px;
  margin: 0 4px -10px 0;
  border-radius: 50%;
  border: 2px solid #bfbfbf;
  user-select: none;
}

.navbar-user-panel {
  text-align: center;
  height: 243px;
  line-height: 22px;
  text-decoration: none;
  max-width: 100%;
  position: relative;
  background: transparent;
  color: #fff;
  padding: 0 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.navbar-menu-user-image {
  height: 150px;
  border-radius: 50%;
  border: 4px solid;
}

.navbar-menu-username {
  display: block;
  font-size: 20px;
}

.navbar-menu-since {
  display: block;
  color: #bfbfbf;
}

.navbar-menu-updating {
  display: block;
  color: #e2e2e2;
}

.navbar-menu-updated {
  display: block;
  color: #bfbfbf;
  line-height: 15px;
}

.mobile-menu-toggle {
  padding-top: 13px;
  margin-left: -15px;
}
.mobile-update-loading {
  display: inline;
  margin-left: -10px;
  top: -13.5px;
  width: 14px;
  height: 14px;
}
.mat-mobile-loading-shift {
  margin-right: 10px;
}