<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- Mobile -->
      <a class="mobile-menu-toggle" *ngIf="signed_in && user && (isHandset$ | async)" mat-button [matMenuTriggerFor]="menu">
        <span [class.mat-mobile-loading-shift]="!user.last_update">
          <mat-icon aria-label="side menu">menu</mat-icon>
          <mat-spinner *ngIf="!user.last_update" diameter="14" color="warn" class="mobile-update-loading"></mat-spinner>
        </span>
        <mat-menu #menu="matMenu" xPosition="before">
          <span class="navbar-user-panel">
            <img src="{{ user.profile_image }}" class="navbar-menu-user-image">
            <span class="navbar-menu-username">
              <a href="https://www.last.fm/user/{{ user.username }}" target="_blank" class="clear-color" matTooltip="Visit your Last.fm profile" matTooltipPosition="above">{{ user.username }}</a>
            </span>
            <span class="navbar-menu-since">Scrobbling since {{ moment.unix(user.registered).format('MMM Do, YYYY') }}</span>
            <span class="navbar-menu-updating" *ngIf="!user.last_update">Fetching new scrobbles ({{ [0,100].includes(user.progress) ? user.progress : user.progress.toFixed(2) }}%)</span>
            <span class="navbar-menu-updating" *ngIf="user.last_update && user.progress && user.progress > -420">Failed at {{ [0,100].includes(user.progress) ? user.progress : user.progress.toFixed(2) }}%, finish w/ Update</span>
            <span class="navbar-menu-updating" *ngIf="user.last_update && user.progress && user.progress <= -420">Full scrape pending...</span>
            <mat-progress-bar mode="determinate" color="warn" [value]="user.progress" *ngIf="user.progress"></mat-progress-bar>
            <span class="navbar-menu-updated" *ngIf="user.last_update && !user.progress" [matTooltip]="moment(user.last_update).locale('en')" matTooltipPosition="above" matTooltipClass="tooltip">Last fetched track was played<br> {{ moment(user.last_update).locale('en').fromNow() }}</span>
          </span>
          <button mat-menu-item [routerLink]="['/']">Home</button>
          <div [matTooltip]="!user.last_update || (user.last_update && user.progress && user.progress <= -420) ? 'An update is currently in progress...' : null" matTooltipPosition="left">
            <button [class.disable-click]="!user.last_update || (user.last_update && user.progress && user.progress <= -420)" mat-menu-item (click)="updateUser()">Update</button>
          </div>
          <button mat-menu-item [matMenuTriggerFor]="groupsMenu">Groups</button>
          <mat-menu #groupsMenu="matMenu">
            <button mat-menu-item [routerLink]="['groups/create']">
              <mat-icon>add</mat-icon>
              <span>Create</span>
            </button>
            <button mat-menu-item (click)="openJoinDialog()">
              <mat-icon>person_add</mat-icon>
              <span>Join</span>
            </button>
            <button mat-menu-item *ngFor="let group of user?.groups" [routerLink]="['groups/' + group.join_code]" matTooltip="Visit {{ group.name }}'s page" matTooltipPosition="above">
              {{ group.name }}
            </button>
          </mat-menu>
          <button mat-menu-item [routerLink]="['/settings']">Settings</button>
          <button mat-menu-item (click)="switchUser()" *ngIf="config.admin_username == user.username">Switch User</button>
          <button mat-menu-item (click)="switchBack()" *ngIf="showClearLocalData">Switch Back</button>
          <button mat-menu-item (click)="exitDemo()" *ngIf="isDemo | async">Exit Demo</button>
          <button mat-menu-item [matMenuTriggerFor]="aboutMenu">About</button>
            <mat-menu #aboutMenu="matMenu">
              <button mat-menu-item (click)="openFaqs()">
                <mat-icon>info</mat-icon>
                <span>FAQs</span>
              </button>
              <button mat-menu-item (click)="openCredits()">
                <mat-icon>code</mat-icon>
                <span>Credits / Support</span>
              </button>
              <button mat-menu-item (click)="openMobileInstructions()">
                <mat-icon>phone_iphone</mat-icon>
                <span>Mobile App</span>
              </button>
            </mat-menu>
          <button mat-menu-item (click)="signOut()" *ngIf="!(isDemo | async)">Sign Out</button>
        </mat-menu>
      </a>
      <span [routerLink]="['/']" id="logo-title">
        <span>
          Last.fm with Friends
          <span *ngIf="isDemo | async"class="beta demo">DEMO</span>
        </span>
      </span> 
      <!-- <span class="beta">BETA</span>  -->
      <span class="spacer"></span>
      <span *ngIf="!(isHandset$ | async)">
        <a *ngIf="signed_in && user" class="navbar-user-button" mat-button [matMenuTriggerFor]="menu">
          <span>
            <img src="{{ user.profile_image }}" class="navbar-user-image">
            {{ user.username }} <mat-spinner *ngIf="!user.last_update" diameter="14" color="warn" style="display: inline; margin-left: 4px; top: 1.5px; "></mat-spinner>
          </span>
          <!-- Desktop -->
          <mat-menu #menu="matMenu" xPosition="before">
            <span class="navbar-user-panel">
              <img src="{{ user.profile_image }}" class="navbar-menu-user-image">
              <span class="navbar-menu-username">
                <a href="https://www.last.fm/user/{{ user.username }}" target="_blank" class="clear-color" matTooltip="Visit your Last.fm profile" matTooltipPosition="above">{{ user.username }}</a>
              </span>
              <span class="navbar-menu-since">Scrobbling since {{ moment.unix(user.registered).format('MMM Do, YYYY') }}</span>
              <span class="navbar-menu-updating" *ngIf="!user.last_update">Fetching new scrobbles ({{ [0,100].includes(user.progress) ? user.progress : user.progress.toFixed(2) }}%)</span>
              <span class="navbar-menu-updating" *ngIf="user.last_update && user.progress && user.progress > -420">Failed at {{ [0,100].includes(user.progress) ? user.progress : user.progress.toFixed(2) }}%, finish w/ Update</span>
              <span class="navbar-menu-updating" *ngIf="user.last_update && user.progress && user.progress <= -420">Full scrape pending...</span>
              <mat-progress-bar mode="determinate" color="warn" [value]="user.progress" *ngIf="user.progress"></mat-progress-bar>
              <span class="navbar-menu-updated" *ngIf="user.last_update && !user.progress" [matTooltip]="moment(user.last_update).locale('en')" matTooltipPosition="above" matTooltipClass="tooltip">Last fetched track was played<br> {{ moment(user.last_update).locale('en').fromNow() }}</span>
            </span>
            <button mat-menu-item [routerLink]="['/']">Home</button>
            <div [matTooltip]="!user.last_update || (user.last_update && user.progress && user.progress <= -420) ? 'An update is currently in progress...' : null" matTooltipPosition="left">
              <button [class.disable-click]="!user.last_update || (user.last_update && user.progress && user.progress <= -420)" mat-menu-item (click)="updateUser()">Update</button>
            </div>
            <button mat-menu-item [matMenuTriggerFor]="groupsMenu">Groups</button>
            <mat-menu #groupsMenu="matMenu">
              <button mat-menu-item [routerLink]="['groups/create']">
                <mat-icon>add</mat-icon>
                <span>Create</span>
              </button>
              <button mat-menu-item (click)="openJoinDialog()">
                <mat-icon>person_add</mat-icon>
                <span>Join</span>
              </button>
              <button mat-menu-item *ngFor="let group of user?.groups" [routerLink]="['groups/' + group.join_code]" matTooltip="Visit {{ group.name }}'s page" matTooltipPosition="above">
                {{ group.name }}
              </button>
            </mat-menu>
            <button mat-menu-item [routerLink]="['/settings']">Settings</button>
            <button mat-menu-item (click)="switchUser()" *ngIf="config.admin_username == user.username">Switch User</button>
            <button mat-menu-item (click)="switchBack()" *ngIf="showClearLocalData">Switch Back</button>
            <button mat-menu-item (click)="exitDemo()" *ngIf="isDemo | async">Exit Demo</button>
            <button mat-menu-item [matMenuTriggerFor]="aboutMenu">About</button>
            <mat-menu #aboutMenu="matMenu">
              <button mat-menu-item (click)="openFaqs()">
                <mat-icon>info</mat-icon>
                <span>FAQs</span>
              </button>
              <button mat-menu-item (click)="openCredits()">
                <mat-icon>code</mat-icon>
                <span>Credits / Support</span>
              </button>
              <button mat-menu-item (click)="openMobileInstructions()">
                <mat-icon>phone_iphone</mat-icon>
                <span>Mobile App</span>
              </button>
            </mat-menu>
            <button mat-menu-item (click)="signOut()" *ngIf="!(isDemo | async)">Sign Out</button>
          </mat-menu>
        </a>
      </span>
      <a *ngIf="signed_in == false && !router.url.includes('lastfmauth')" class="clear-color" href="https://github.com/neilmenon/lastfm-with-friends" matTooltip="View on Github" matTooltipPosition="below" target="_blank" style="padding-right: 0.75rem; font-size: 26px;">
        <i class="fab fa-github"></i>
      </a>
      <mat-spinner *ngIf="!user?.username && signed_in" diameter="25" color="accent" style="padding-right: 1rem;"></mat-spinner>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
