.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 201px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.hidden {
  display: none;
}

/* @media (min-width: 768px) {
  .sidenav {
    display: none;
  }
} */

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 56px;
}

.spacer {
  flex: 1 1 auto;
}
