<mat-sidenav-container class="sidenav-container">
  <!--<mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: (isHandset$ | async) == false}" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>-->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <a class="mobile-menu-toggle" *ngIf="signed_in && user && (isHandset$ | async)" mat-button [matMenuTriggerFor]="menu">
        <span >
          <mat-icon aria-label="side menu">menu</mat-icon>
        </span>
        <mat-menu #menu="matMenu" xPosition="before">
          <span class="navbar-user-panel">
            <img src="{{ user.profile_image }}" class="navbar-menu-user-image">
            <span class="navbar-menu-username">
              {{ user.username }}
            </span>
            <span class="navbar-menu-since">Scrobbling since {{ moment.unix(user.registered).format('MMMM Do, YYYY') }}</span>
            <span class="navbar-menu-updating" *ngIf="!user.last_update">Fetching new scrobbles ({{ user.progress }}%)</span>
            <span class="navbar-menu-updating" *ngIf="user.last_update && user.progress">Failed at {{ user.progress }}%, finish w/ Update</span>
            <mat-progress-bar mode="determinate" color="warn" [value]="user.progress" *ngIf="user.progress"></mat-progress-bar>
            <span class="navbar-menu-updated" *ngIf="user.last_update && !user.progress" [matTooltip]="moment(user.last_update).locale('en')" matTooltipPosition="above" matTooltipClass="tooltip">Last fetched track was played<br> {{ moment(user.last_update).locale('en').fromNow() }}</span>
          </span>
          <button mat-menu-item *ngIf="user.last_update" (click)="updateUser()">Update</button>
          <button mat-menu-item>Settings</button>
          <button mat-menu-item [routerLink]="['/signout']">Sign Out</button>
        </mat-menu>
      </a>
      <!--<button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>-->
      <span [routerLink]="['/']" style="cursor: pointer;outline: none;">Last.fm with Friends </span> <span class="beta">BETA</span>
      <span class="spacer"></span>
      <span *ngIf="!(isHandset$ | async)">
        <a *ngIf="signed_in && user" class="navbar-user-button" mat-button [matMenuTriggerFor]="menu">
          <span>
            <img src="{{ user.profile_image }}" class="navbar-user-image">
            {{ user.username }} <mat-spinner *ngIf="!user.last_update" diameter="14" color="warn" style="display: inline; margin-left: 4px; top: 1.5px; "></mat-spinner>
          </span>
          <mat-menu #menu="matMenu" xPosition="before">
            <span class="navbar-user-panel">
              <img src="{{ user.profile_image }}" class="navbar-menu-user-image">
              <span class="navbar-menu-username">
                {{ user.username }}
              </span>
              <span class="navbar-menu-since">Scrobbling since {{ moment.unix(user.registered).format('MMMM Do, YYYY') }}</span>
              <span class="navbar-menu-updating" *ngIf="!user.last_update">Fetching new scrobbles ({{ user.progress }}%)</span>
              <span class="navbar-menu-updating" *ngIf="user.last_update && user.progress">Failed at {{ user.progress }}%, finish w/ Update</span>
              <mat-progress-bar mode="determinate" color="warn" [value]="user.progress" *ngIf="user.progress"></mat-progress-bar>
              <span class="navbar-menu-updated" *ngIf="user.last_update && !user.progress" [matTooltip]="moment(user.last_update).locale('en')" matTooltipPosition="above" matTooltipClass="tooltip">Last fetched track was played<br> {{ moment(user.last_update).locale('en').fromNow() }}</span>
            </span>
            <button mat-menu-item *ngIf="user.last_update" (click)="updateUser()">Update</button>
            <button mat-menu-item>Settings</button>
            <button mat-menu-item [routerLink]="['/signout']">Sign Out</button>
          </mat-menu>
        </a>
      </span>
      <button *ngIf="signed_in == false" color="primary" class="sign-in" mat-raised-button [routerLink]="['/lastfmauth']">Sign In with Last.fm</button>
      <mat-spinner *ngIf="user === undefined" diameter="25" color="accent"></mat-spinner>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
