<mat-sidenav-container class="sidenav-container">
  <!--<mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: (isHandset$ | async) == false}" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>-->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <a class="mobile-menu-toggle" *ngIf="signed_in && user && (isHandset$ | async)" mat-button [matMenuTriggerFor]="menu">
        <span [class.mat-mobile-loading-shift]="!user.last_update">
          <mat-icon aria-label="side menu">menu</mat-icon>
          <mat-spinner *ngIf="!user.last_update" diameter="14" color="warn" class="mobile-update-loading"></mat-spinner>
        </span>
        <mat-menu #menu="matMenu" xPosition="before">
          <span class="navbar-user-panel">
            <img src="{{ user.profile_image }}" class="navbar-menu-user-image">
            <span class="navbar-menu-username">
              {{ user.username }}
            </span>
            <span class="navbar-menu-since">Scrobbling since {{ moment.unix(user.registered).format('MMMM Do, YYYY') }}</span>
            <span class="navbar-menu-updating" *ngIf="!user.last_update">Fetching new scrobbles ({{ user.progress }}%)</span>
            <span class="navbar-menu-updating" *ngIf="user.last_update && user.progress">Failed at {{ user.progress }}%, finish w/ Update</span>
            <mat-progress-bar mode="determinate" color="warn" [value]="user.progress" *ngIf="user.progress"></mat-progress-bar>
            <span class="navbar-menu-updated" *ngIf="user.last_update && !user.progress" [matTooltip]="moment(user.last_update).locale('en')" matTooltipPosition="above" matTooltipClass="tooltip">Last fetched track was played<br> {{ moment(user.last_update).locale('en').fromNow() }}</span>
          </span>
          <button mat-menu-item [routerLink]="['/']">Home</button>
          <div [matTooltip]="!user.last_update ? 'An update is currently in progress...' : null" matTooltipPosition="left">
            <button [class.disable-click]="!user.last_update" mat-menu-item (click)="updateUser()">Update</button>
          </div>
          <button mat-menu-item [matMenuTriggerFor]="groupsMenu">Groups</button>
          <mat-menu #groupsMenu="matMenu">
            <button mat-menu-item [routerLink]="['groups/create']">
              <mat-icon>add</mat-icon>
              <span>Create</span>
            </button>
            <button mat-menu-item (click)="openJoinDialog()">
              <mat-icon>person_add</mat-icon>
              <span>Join</span>
            </button>
            <button mat-menu-item *ngFor="let group of user?.groups" [routerLink]="['groups/' + group.join_code]" matTooltip="Visit {{ group.name }}'s page" matTooltipPosition="above">
              {{ group.name }}
            </button>
          </mat-menu>
          <button mat-menu-item [routerLink]="['/settings']">Settings</button>
          <button mat-menu-item (click)="signOut()" *ngIf="!(isDemo | async)">Sign Out</button>
          <button mat-menu-item (click)="exitDemo()" *ngIf="isDemo | async">Exit Demo</button>
        </mat-menu>
      </a>
      <!--<button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>-->
      <span [routerLink]="['/']" style="cursor: pointer;outline: none;">Last.fm with Friends </span> <span class="beta">BETA</span> <span *ngIf="isDemo | async" style="background: #517a8c;" class="beta">DEMO</span>
      <span class="spacer"></span>
      <span *ngIf="!(isHandset$ | async)">
        <a *ngIf="signed_in && user" class="navbar-user-button" mat-button [matMenuTriggerFor]="menu">
          <span>
            <img src="{{ user.profile_image }}" class="navbar-user-image">
            {{ user.username }} <mat-spinner *ngIf="!user.last_update" diameter="14" color="warn" style="display: inline; margin-left: 4px; top: 1.5px; "></mat-spinner>
          </span>
          <mat-menu #menu="matMenu" xPosition="before">
            <span class="navbar-user-panel">
              <img src="{{ user.profile_image }}" class="navbar-menu-user-image">
              <span class="navbar-menu-username">
                {{ user.username }}
              </span>
              <span class="navbar-menu-since">Scrobbling since {{ moment.unix(user.registered).format('MMMM Do, YYYY') }}</span>
              <span class="navbar-menu-updating" *ngIf="!user.last_update">Fetching new scrobbles ({{ user.progress.toFixed(2) }}%)</span>
              <span class="navbar-menu-updating" *ngIf="user.last_update && user.progress">Failed at {{ user.progress.toFixed(2) }}%, finish w/ Update</span>
              <mat-progress-bar mode="determinate" color="warn" [value]="user.progress" *ngIf="user.progress"></mat-progress-bar>
              <span class="navbar-menu-updated" *ngIf="user.last_update && !user.progress" [matTooltip]="moment(user.last_update).locale('en')" matTooltipPosition="above" matTooltipClass="tooltip">Last fetched track was played<br> {{ moment(user.last_update).locale('en').fromNow() }}</span>
            </span>
            <button mat-menu-item [routerLink]="['/']">Home</button>
            <div [matTooltip]="!user.last_update ? 'An update is currently in progress...' : null" matTooltipPosition="left">
              <button [class.disable-click]="!user.last_update" mat-menu-item (click)="updateUser()">Update</button>
            </div>
            <button mat-menu-item [matMenuTriggerFor]="groupsMenu">Groups</button>
            <mat-menu #groupsMenu="matMenu">
              <button mat-menu-item [routerLink]="['groups/create']">
                <mat-icon>add</mat-icon>
                <span>Create</span>
              </button>
              <button mat-menu-item (click)="openJoinDialog()">
                <mat-icon>person_add</mat-icon>
                <span>Join</span>
              </button>
              <button mat-menu-item *ngFor="let group of user?.groups" [routerLink]="['groups/' + group.join_code]" matTooltip="Visit {{ group.name }}'s page" matTooltipPosition="above">
                {{ group.name }}
              </button>
            </mat-menu>
            <button mat-menu-item [routerLink]="['/settings']">Settings</button>
            <button mat-menu-item (click)="signOut()" *ngIf="!(isDemo | async)">Sign Out</button>
            <button mat-menu-item (click)="exitDemo()" *ngIf="isDemo | async">Exit Demo</button>
          </mat-menu>
        </a>
      </span>
      <button *ngIf="false && signed_in == false && !router.url.includes('lastfmauth')" color="primary" class="sign-in" mat-raised-button [routerLink]="['/lastfmauth']">Sign In with Last.fm</button>
      <mat-spinner *ngIf="!user?.username && signed_in" diameter="25" color="accent" style="padding-right: 0.5rem;"></mat-spinner>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
