<div class="footer center-all" *ngIf="showFooter">
    <hr style="width: 50%;">
    Last.fm with Friends by <a href="https://neilmenon.com" target="_blank">Neil Menon</a><br>
    <div *ngIf="stats && build">
        Tracking <span>{{ stats.scrobbles | pluralize:'scrobble' }}</span> from <span>{{ stats.users | pluralize:'user' }}</span> in <span>{{ stats.groups | pluralize:'group' }}</span><br>
        Indexing <span>{{ stats.tracks | pluralize:'track' }}</span> in <span>{{ stats.albums | pluralize:'album' }}</span> from <span>{{ stats.artists | pluralize:'artist' }}</span><br>
        Build: <a href="https://github.com/neilmenon/lastfm-with-friends/commit/{{ build.commit }}" target="_blank" style="color: darkseagreen;">{{ build.commit }}</a> &#8226; {{ moment.unix(build.unixTimestamp).locale("en-US").fromNow() }}
    </div>
    <div *ngIf="!stats || !build">
        ...<br>...<br>...
    </div>
</div>
