<div id="faqs">
    <div class="faq-entry">
        <span>What is Last.fm, and what does scrobbling mean?</span>
        <span>
            Last.fm is a service that tracks your music listening.
            <span class="now-playing-track">Scrobbling</span> is when Last.fm tracks the music you listen to and automatically adds it to your music profile.
        </span>
    </div>
    <div class="faq-entry">
        <span>What does Last.fm with Friends do?</span>
        <span>
            Last.fm with Friends fetches you and your friends' listening data from Last.fm and gives you cool stats for your friend group.
            For example, you can easily see who has the most scrobbles (plays) for a specific artist, the top artist/album/track among everyone for a specific time period, who is leading with the most scrobbles, and a lot more.
        </span>
    </div>
    <div class="faq-entry">
        <span>Wait, but how does Last.fm know what I'm listening to automatically?</span>
        <span>Once you create a Last.fm account, you can connect just about any music service, be it streaming or local, to your account. Last.fm will do the rest from there and start tracking your music.</span>
    </div>
    <div class="faq-entry" *ngIf="gettingStarted">
        <span>I'm sold! What's next?</span>
        <span>Getting started with Last.fm with Friends is super simple. First you'll <a href="https://www.last.fm/join" target="_blank">need a Last.fm account</a>. Then, click on the next step to get started!</span>
    </div>
    <div *ngIf="!gettingStarted">
        <div class="faq-entry">
            <span>Does Last.fm with Friends fetch my new scrobbles automatically?</span>
            <span>Yes! Your scrobbles are automatically fetched periodically.</span>
        </div>
    </div>
</div>