[Unit]
Description=uWSGI instance of the Flask server for lastfm-with-friends
After=network.target

[Service]
User=root
Group=nginx
WorkingDirectory=/root/projects/lastfm-with-friends/backend
Environment="PATH=/root/projects/lastfm-with-friends/backend/env/bin"
ExecStart=/root/projects/lastfm-with-friends/backend/env/bin/uwsgi --ini app.ini --enable-threads

[Install]
WantedBy=multi-user.target
