.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent { background-color: #1db954!important; color: white!important; }
.connect-buttons > button:first-child {
    margin-right: 1rem;
}
@media screen and (max-width: 530px) {
    .connect-buttons > button:first-child {
        margin-right: 0rem;
        margin-bottom: 1rem;
    }
}