<div class="box center">
    <div *ngIf="group && user; else loading">
        <div id="group-detail">
            <h2>{{ group.name }}</h2>
            <div *ngIf="deleteConfirmed || leaveConfirmed" style="padding-bottom: 15px;">
                <button *ngIf="group.owner == user.username && deleteConfirmed" color="primary" mat-raised-button (click)="deleteGroup()">Confirm Delete</button>
                <button *ngIf="leaveConfirmed" color="primary" mat-raised-button (click)="leaveGroup()">Confirm Leave</button>
            </div>
            <p><strong>Description: </strong>{{ group.description }}</p>
            <p>
                <strong>Join Code: </strong>{{ group.join_code }}
                <span class="clickable" (click)="messageService.copyJoinCode(group.join_code, group.name)" matTooltip="Copy to Clipboard" matTooltipPosition="above">
                    <i class="fas fa-copy"></i>
                </span>
            </p>
            <strong>Members ({{ group.users.length }}): </strong><br><br>
            <div class="container" style="flex-wrap: wrap;">
                <div *ngFor="let u of group.users" class="member-card">
                    <img src="{{ u.profile_image }}" width="100px" style="border-radius: 50%;border: 2px solid;"><br>
                    <a href="https://last.fm/user/{{ u.username }}" target="_blank">{{ u.username }}</a> 
                    <mat-spinner diameter="17" color="accent" *ngIf="kickLoading && kickingUser == u.username" style="display: inline-block;margin-bottom: -3px;"></mat-spinner>
                    <i class="fa fa-star" style="color: #e9c267;" matTooltip="Owner" matTooltipPosition="above" *ngIf="u.username == group.owner; else notOwner"></i>
                    <ng-template #notOwner>
                        <i (click)="kickMember(u.username)" class="fa fa-user-times kick clickable" matTooltip="Kick Member" matTooltipPosition="above" *ngIf="user.username == group.owner && !kickingUser && !kickLoading"></i>
                        <i (click)="kickMember(u.username)" class="fa fa-exclamation-triangle kick clickable" matTooltip="Confirm Kick" matTooltipPosition="above" *ngIf="user.username == group.owner && kickingUser == u.username && !kickLoading"></i>
                    </ng-template>
                    <br>
                    <span title="{{ moment(u.joined).locale('en') }}">Joined {{ moment(u.joined).locale('en').format('MM/DD/YYYY') }}</span><br>
                    {{ u.scrobbles | number }} scrobbles<br><br>
                </div>
            </div>
            <div class="group-actions">
                <div><button color="accent" mat-raised-button [routerLink]="['']">Visit Dashboard</button></div>
                <div *ngIf="group.owner !== user.username && !leaveConfirmed">
                    <button color="accent" mat-raised-button (click)="leaveGroup()" [class.disable-click]="isDemo | async">Leave Group</button>
                </div>
                <div *ngIf="group.owner == user.username && !deleteConfirmed">
                    <button color="primary" mat-raised-button (click)="deleteGroup()">Delete Group</button>
                </div>
            </div>
        </div>
        <div *ngIf="group.owner == user.username">
            <hr style="width: 75%;">
            <app-edit-group [user]="user" [group]="group" (onGroupChange)="reflectChanges($event)"></app-edit-group>
        </div>
    </div>
    <ng-template #loading>
        <mat-spinner diameter="25" color="accent" class="center-all" *ngIf="!group" style="padding-bottom: 10px;"></mat-spinner>
    </ng-template>
</div>