.group-actions {
    display: flex;
    justify-content: center;
}

.group-actions div {
    padding-bottom: 15px;
}

.group-actions div:not(:last-child) {
    padding-right: 10px;
}
.member-card {
    min-width: 150px;
}
.member-card i, .member-card mat-spinner {
    margin-left: 3px;
}