<div class="box center">
    <h2>{{ group.name }}</h2>
    <p><strong>Description: </strong>{{ group.description }}</p>
    <p><strong>Join Code: </strong>{{ group.join_code }}</p>
    <strong>Users: </strong><br><br>
    <div class="container" style="flex-wrap: wrap;">
        <div *ngFor="let u of group.users">
            <img src="{{ u.profile_image }}" width="100px" style="border-radius: 50%;border: 2px solid;"><br>
            <a href="https://last.fm/user/{{ u.username }}" target="_blank">{{ u.username }}</a> <i class="fa fa-star" style="color: #e9c267;" matTooltip="Owner" matTooltipPosition="above" *ngIf="u.username == group.owner"></i><br>
            Joined {{ moment(user.joined).format('MM/DD/YYYY') }}<br>
            {{ u.scrobbles | number }} scrobbles<br><br>
        </div>
    </div>
    <div *ngIf="group.owner !== user.username" style="padding-bottom: 15px;">
        <button color="accent" mat-raised-button (click)="leaveGroup()">Leave Group</button>
    </div>
</div>