<h3 mat-dialog-title class="center" *ngIf="data.wkMode == 'artist'">Top Scrobbles of <u>{{ data.wkObject.artist.name }}</u> in {{ data.group.name }}</h3>
<h3 mat-dialog-title class="center" *ngIf="data.wkMode == 'album'">Top Scrobbles of <u>{{ data.wkObject.artist.name }} - {{ data.wkObject.album.name }}</u> in {{ data.group.name }}</h3>
<div class="wk-top-options center">
    <mat-form-field color="accent">
        <mat-label>User</mat-label>
        <mat-select [(ngModel)]="selectedUser" [(value)]="selectedUser" (selectionChange)="whoKnowsTop(data.wkMode, [selectedUser], data.wkObject.artist.id, data.wkMode == 'album' ? data.wkObject.album.id : null, trackMode)">
            <mat-option *ngFor="let u of data.wkObject.users" [value]="u.id">{{ u.username }}<span *ngIf="u.username == data.user.username"> (you)</span></mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field color="accent" style="width: 65px;">
        <mat-label>Release Type</mat-label>
        <mat-select [(ngModel)]="trackMode" [(value)]="trackMode" (selectionChange)="whoKnowsTop(data.wkMode, [selectedUser], data.wkObject.artist.id, data.wkMode == 'album' ? data.wkObject.album.id : null, trackMode)">
            <mat-option [value]="true">Track</mat-option>
            <mat-option [value]="false" *ngIf="data.wkMode == 'artist'">Album</mat-option>
        </mat-select>
    </mat-form-field>
</div> 
<div mat-dialog-content class="history-result">
    <mat-spinner diameter="25" color="accent" class="center-all" *ngIf="(!resultsObject)" style="padding-bottom: 10px;"></mat-spinner>
    <table *ngIf="resultsObject">
        <thead class="sticky-table-header">
            <tr>
                <th class="table-border" *ngIf="trackMode">Track</th>
                <th class="table-border">Album</th>
                <th class="table-border">&nbsp;Scrobbles&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let entry of resultsObject; let i = index">
                <td class="table-border" *ngIf="trackMode"><a href="{{ entry.track_url }}" target="_blank" class="clear-color">{{ entry.track }}</a></td>
                <td class="table-border" [class.center]="data.wkMode == 'album'" *ngIf="entry.album == ''; else normalAlbum" style="color: #bfbfbf;" matTooltip="Album name was not specified when these tracks were scrobbled." matTooltipPosition="above">Unknown Album*</td>
                <ng-template #normalAlbum>
                    <td class="table-border" [class.center]="data.wkMode == 'album'"><a href="{{ entry.album_url }}" target="_blank" class="clear-color">{{ entry.album }}</a></td>
                </ng-template>
                <td class="table-border center">{{ entry.scrobbles }}</td>
            </tr>
        </tbody>
    </table>
</div>