<div class="box center">
    <div class="settings center-all">
        <h1 class="clear-color-full">Settings</h1>
        <h3 class="box-title">Full Scrape</h3>
        <p>
            Flushes all of your scrobbles from the database and fetches them anew from Last.fm. 
            This process can take time and should only be used if there is a data discrepancy between Last.fm and the app.
        </p>
        <button color="primary" mat-raised-button type="submit">Trigger Full Scrape</button>
        <br><br>
    </div>
</div>