<div class="box center">
    <div class="settings center-all" *ngIf="reduxPatched">
        <h1 class="clear-color-full">Settings</h1>
        <form [formGroup]="settingsForm" class="settings-form">
            <h3 class="box-title">Individual & Group Charts</h3>
            <p>Default release type selection for charts.</p>
            <mat-form-field appearance="legacy" color="accent">
                <mat-label>Chart Release Type</mat-label>
                <mat-select formControlName="chartReleaseType" name="chartReleaseType">
                    <mat-option *ngFor="let r of releaseTypes" [value]="r">{{ r | titlecase }}</mat-option>
                    <mat-option value="random">Random</mat-option>
                </mat-select>
            </mat-form-field>
            <p>Default user selection for charts.</p>
            <mat-form-field appearance="legacy" color="accent">
                <mat-label>Chart User Selection</mat-label>
                <mat-select formControlName="chartUser" name="chartUser">
                    <mat-option value="everyone">Everyone</mat-option>
                    <mat-option value="individual">{{ user?.username }} (you)</mat-option>
                </mat-select>
            </mat-form-field>
            <p>Default time period selection for charts.</p>
            <mat-form-field appearance="legacy" color="accent">
                <mat-label>Chart Time Period</mat-label>
                <mat-select formControlName="chartTimePeriodDays" name="chartTimePeriodDays">
                    <mat-option *ngFor="let d of discreteTimePeriods" [value]="d.days">{{ d.label }}</mat-option>
                    <mat-option [value]="randomTimePeriod.days">{{ randomTimePeriod.label }}</mat-option>
                </mat-select>
            </mat-form-field>
            <h3 class="box-title">Scrobble Leaderboard</h3>
            <p>Default time period selection for Scrobble Leaderboard.</p>
            <mat-form-field appearance="legacy" color="accent">
                <mat-label>Scrobble Leaderboard Time Period</mat-label>
                <mat-select formControlName="leaderboardTimePeriodDays" name="leaderboardTimePeriodDays">
                    <mat-option *ngFor="let d of discreteTimePeriods" [value]="d.days">{{ d.label }}</mat-option>
                    <mat-option [value]="randomTimePeriod.days">{{ randomTimePeriod.label }}</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <h3 class="box-title">Listening Trends</h3>
            <p>Default mode for displaying scrobbles on the Listening Trends graph.</p>
            <mat-form-field appearance="legacy" color="accent">
                <mat-label>Listening Trends Mode</mat-label>
                <mat-select formControlName="trendMode" name="trendMode">
                    <mat-option value="leaderboard-cu">Cumulative</mat-option>
                    <mat-option value="leaderboard-noncu">Non-Cumulative</mat-option>
                </mat-select>
            </mat-form-field> -->
        </form>
        <p>
            <a class="clickable" (click)="restoreDefaultSettings()">Reset to Default</a>
        </p>
        <h1 class="clear-color-full">Actions</h1>
        <div class="settings-option">
            <h3 class="box-title">Full Scrape</h3>
            <p>
                Flushes all of your scrobbles from our database and fetches them anew from Last.fm.<br>
                <strong>Warning!</strong> This process can take time, especially if you have a lot of scrobbles. Your app scrobble count is regularly compared to your Last.fm account and re-scraped/corrected automatically, so this action should only be used if there is a data discrepancy between Last.fm and the app (for example, if you edit scrobbles on Last.fm).
            </p>
            <span [matTooltip]="user?.scrobbles > 100000 ? 'Full scrape is currently disabled for users with more than 100K scrobbles due to the resources it takes. To request a full scrape please open an issue on Github (neilmenon/lastfm-with-friends)' : null" matTooltipPosition="above">
                <button color="accent" mat-raised-button type="submit" *ngIf="!confirmFullScrape && !fullScrapeInProgress" 
                    (click)="fullScrape()" [class.disable-click]="isDemo | async" [disabled]="user?.scrobbles > 100000">
                    Trigger Full Scrape
                </button>
            </span>
            <button color="warn" mat-raised-button type="submit" *ngIf="confirmFullScrape && !fullScrapeInProgress" (click)="fullScrape()">Confirm</button>
            <div *ngIf="fullScrapeInProgress">
                <mat-spinner diameter="25" color="accent" class="center-all" *ngIf="fullScrapeInProgress"></mat-spinner>
                A full scrape is in progress. View its status in the menu.<br>
            </div>
        </div>
        <hr>
        <div class="settings-option">
            <h3 class="box-title">Delete Account</h3>
            <p>
                Permanently deletes all of your data from our database (session keys, user data, and scrobbles).
                Your Last.fm account and data are not affected by this action.
                You are welcomed and encouraged to re-link your Last.fm account at any point in the future!
            </p>
            <p>
                <button color="primary" mat-raised-button type="submit" *ngIf="!confirmDeleteAccount" (click)="deleteAccount()" [class.disable-click]="isDemo | async">Delete Account</button>
                <button color="warn" mat-raised-button type="submit" *ngIf="confirmDeleteAccount" (click)="deleteAccount()">Confirm Delete</button>
            </p>
            <p style="font-size: 12px;">
                <strong><u>Note</u></strong>: you must leave (change ownership, or delete if you are the owner) all groups you have joined before using this action!
            </p>
        </div>
    </div>
    <mat-spinner diameter="25" color="accent" class="center-all" *ngIf="!reduxPatched" style="padding-bottom: 10px;"></mat-spinner>
</div>