<div class="box center">
    <div class="settings center-all">
        <h1 class="clear-color-full" style="margin-bottom: 5px;">Settings</h1>
        <p>The below settings are per-browser/device.</p>
        <form [formGroup]="settingsForm" class="settings-form">
            <h3 class="box-title">Individual & Group Charts</h3>
            <p>Default release type selection for charts.</p>
            <mat-form-field appearance="legacy" color="accent">
                <mat-label>Chart Release Type</mat-label>
                <mat-select formControlName="chartReleaseType" name="chartReleaseType">
                    <mat-option *ngFor="let r of releaseTypes" [value]="r">{{ r | titlecase }}</mat-option>
                    <mat-option value="random">Random</mat-option>
                </mat-select>
            </mat-form-field>
            <p>Default time period selection for charts.</p>
            <mat-form-field appearance="legacy" color="accent">
                <mat-label>Chart Time Period</mat-label>
                <mat-select formControlName="chartTimePeriodDays" name="chartTimePeriodDays">
                    <mat-option *ngFor="let d of discreteTimePeriods" [value]="d.days">{{ d.label }}</mat-option>
                    <mat-option [value]="randomTimePeriod.days">{{ randomTimePeriod.label }}</mat-option>
                </mat-select>
            </mat-form-field>
            <h3 class="box-title">Scrobble Leaderboard</h3>
            <p>Default time period selection for Scrobble Leaderboard.</p>
            <mat-form-field appearance="legacy" color="accent">
                <mat-label>Scrobble Leaderboard Time Period</mat-label>
                <mat-select formControlName="leaderboardTimePeriodDays" name="leaderboardTimePeriodDays">
                    <mat-option *ngFor="let d of discreteTimePeriods" [value]="d.days">{{ d.label }}</mat-option>
                    <mat-option [value]="randomTimePeriod.days">{{ randomTimePeriod.label }}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <h1 class="clear-color-full">Actions</h1>
        <div class="settings-option">
            <h3 class="box-title">Full Scrape</h3>
            <p>
                Flushes all of your scrobbles from our database and fetches them anew from Last.fm. 
                This process can take time and should only be used if there is a data discrepancy between Last.fm and the app (for example, edited or deleted scrobbles).
            </p>
            <button color="accent" mat-raised-button type="submit" *ngIf="!confirmFullScrape && !fullScrapeInProgress" (click)="fullScrape()">Trigger Full Scrape</button>
            <button color="warn" mat-raised-button type="submit" *ngIf="confirmFullScrape && !fullScrapeInProgress" (click)="fullScrape()">Confirm</button>
            <div *ngIf="fullScrapeInProgress">
                <mat-spinner diameter="25" color="accent" class="center-all" *ngIf="fullScrapeInProgress"></mat-spinner>
                A full scrape is in progress. View its status in the menu.<br>
            </div>
        </div>
        <hr>
        <div class="settings-option">
            <h3 class="box-title">Delete Account</h3>
            <p>
                Permanently deletes all of your data from our database (session keys, user data, and scrobbles).
                Your Last.fm account and data are not affected by this action.
                You are welcomed and encouraged to re-link your Last.fm account at any point in the future!
            </p>
            <p>
                <button color="primary" mat-raised-button type="submit" *ngIf="!confirmDeleteAccount" (click)="deleteAccount()">Delete Account</button>
                <button color="warn" mat-raised-button type="submit" *ngIf="confirmDeleteAccount" (click)="deleteAccount()">Confirm Delete</button>
            </p>
            <p style="font-size: 12px;">
                <strong><u>Note</u></strong>: you must leave (change ownership, or delete if you are the owner) all groups you have joined before using this action!
            </p>
        </div>
    </div>
</div>