<div class="box center">
    <h1>Create Group</h1>
    <form [formGroup]="groupForm" class="create-group-form" (ngSubmit)="onSubmit(groupForm.value)">
        <mat-form-field appearance="legacy" class="full-width" color="accent">
            <mat-label>Group Name</mat-label>
            <input matInput name="name" placeholder="The Audiophiles, The Lastfmers, etc." type="text" formControlName="name" required>
        </mat-form-field>
        <mat-form-field class="full-width" color="accent" appearance="legacy">
            <mat-label>Group Description</mat-label>
            <textarea matInput #description placeholder="Much scrobbles, many music, big friends." type="text" formControlName="description" required maxlength="100"></textarea>
            <mat-hint align="end">{{description.value?.length || 0}}/100</mat-hint>
        </mat-form-field>
        <button color="accent" mat-raised-button type="submit">Create</button>
    </form>
    <br>
</div>