.wk-actions {
    font-size: 18px;
}
.dash-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.dash-grid-container > div:not(:nth-child(3n)) {
    margin-right: 15px;
}
@media screen and (max-width: 960px) {
    .dash-grid-container {
        display: block;
    }
    .dash-grid-container > div {
        flex: none;
    }
    .dash-grid-container > div:not(:last-child) {
        margin-right: 0;
    }
}
.chart-options {
    font-size: 12px;
}
.chart-options > mat-form-field:not(:last-child) {
    padding-right: 5px;
}
.chart-album-image {
    width: 32px;
    height: auto;
    margin-top: 5px;
}
.chart-artist-image {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-top: 5px;
}
.chart-release {
    text-align: left;
    padding-left: 5px;
    line-height: 18px;
    max-width: 150px;
}
.chart-release > span:first-child {
    font-weight: bold;
}