<div class="center-all group-dashboard-header">
    <h1 class="box-title clickable" [routerLink]="['groups/' + group.join_code]">{{ group.name }}</h1>
    <div class="group-dashboard-subtext">
        <span><i class="fa fa-user"></i> {{ group.members.length }} | <strong>Join Code</strong>: {{ group.join_code }}</span>
        <span class="spacer"></span>
        <span><em>{{ group.description }}</em></span>
    </div>
</div>
<div class="box center now-playing-container">
    <div style="position: relative;">
        <h2 style="margin-bottom: 5px;">Listening Activity</h2> 
        <a class="refresh clickable" (click)="messageService.open('Click on an album artwork to see who else knows the release.')"><mat-icon [inline]="true">info</mat-icon></a>
        <!-- <a class="refresh clickable" (click)="nowPlaying(true)" style="right: 16px;" matTooltip="Manual Refresh" matTooltipPosition="above"><mat-icon [inline]="true">cached</mat-icon></a> -->
    </div>
    <div class="now-playing-errors" *ngIf="!nowPlayingResults">
        <mat-spinner diameter="25" color="accent" class="center-all" *ngIf="nowPlayingResults === null"></mat-spinner>
        <span *ngIf="nowPlayingResults === undefined">Error getting user activity data. Please refresh.</span>
    </div>
    <div>
    </div>
    <div class="container" style="flex-wrap: wrap;">
        <div *ngFor="let entry of nowPlayingResults" class="now-playing-box">
            <strong><a href="https://last.fm/user/{{ entry.username }}" target="_blank" [class.now-playing-track]="!entry.timestamp">{{ entry.username }}</a></strong>
            <span *ngIf="entry.timestamp" class="recently-played-track" title="{{ moment.unix(entry.timestamp) }}">{{ moment.unix(entry.timestamp).fromNow() }}</span><br>
            <a class="clickable" (click)="nowPlayingToWk(entry)"><img src="{{ entry.image_url }}" width="110px"></a>
            <div class="now-playing-details">
                <span><a href="{{ entry.url }}" target="_blank" class="clear-color"><em>{{ entry.track }}</em></a></span>
                <span>{{ entry.artist }}</span>
                <span>{{ entry.album }}</span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- wkArtist -->
    <div class="box center command-box" #wkArtist >
        <h2 class="box-title">Who Knows This Artist</h2>
        <div class="container">
            <form [formGroup]="wkArtistForm" class="box-form" (ngSubmit)="wkArtistSubmit(wkArtistForm.value, group.members)">
                <mat-form-field appearance="legacy" class="full-width" color="accent">
                    <input matInput name="name" placeholder="Foals, Coldplay, etc." type="text" formControlName="query">
                </mat-form-field>
                <div class="box-button">
                    <button color="accent" mat-raised-button type="submit"><mat-icon>search</mat-icon></button>
                </div>
            </form>
        </div>
        <div class="command-result" *ngIf="wkArtistResults">
            <div class="command-result-summary">
                <a href="{{ wkArtistResults.artist.url }}" target="_blank">
                    {{ wkArtistResults.artist.name }}<br>
                </a>
                <span *ngIf="wkArtistResults.users.length > 1">
                    {{ 
                        wkArtistResults.users.length == wkArtistResults.total_users ? 
                        "Everyone knows " +  wkArtistResults.artist.name + " in " + group.name 
                        : wkArtistResults.users.length + " out of " + wkArtistResults.total_users + " users know " + wkArtistResults.artist.name  + " in " + group.name
                    }}, for a total of {{ wkArtistResults.total_scrobbles }} scrobbles.
                </span>
                <span *ngIf="wkArtistResults.users.length == 1">
                    Only {{ wkArtistResults.users[0].username }} knows {{ wkArtistResults.artist.name }} in {{ group.name  }}!
                </span>
            </div>
            <table class="results-table" >
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th class="clickable" title="Click to sort" (click)="sort('scrobbles', 'wkArtist')">Scrobbles</th>
                        <th class="clickable" title="Percent of the user's total number of scrobbles (click to sort)" (click)="sort('percent', 'wkArtist')">%</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of wkArtistResults.users; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ entry.username }}</td>
                        <td>{{ entry.scrobbles }}</td>
                        <td>{{ entry.percent }}</td>
                        <td><a href="https://www.last.fm/user/{{ entry.username }}" target="_blank" class="lastfm-icon"><i class="fab fa-lastfm"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <span *ngIf="wkArtistInit === undefined">No one knows this artist in {{ group.name }}.</span>
        <div *ngIf="!wkArtistResults && wkArtistInit" style="padding-bottom: 10px;">
            <mat-spinner diameter="25" color="accent" class="center-all"></mat-spinner>
        </div>
    </div>

    <!-- wkAlbum -->
    <div class="box center command-box" #wkAlbum >
        <h2 class="box-title">Who Knows This Album</h2>
        <div class="container">
            <form [formGroup]="wkAlbumForm" class="box-form" (ngSubmit)="wkAlbumSubmit(wkAlbumForm.value, group.members)">
                <mat-form-field appearance="legacy" class="full-width" color="accent">
                    <input matInput name="name" placeholder="Foals - Holy Fire, Coldplay - Mylo Xyloto, etc." type="text" formControlName="query">
                </mat-form-field>
                <div class="box-button">
                    <button color="accent" mat-raised-button type="submit"><mat-icon>search</mat-icon></button>
                </div>
            </form>
        </div>
        <div class="command-result" *ngIf="wkAlbumResults">
            <div class="command-result-summary">
                <a href="{{ wkAlbumResults.album.url }}" target="_blank">
                    {{ wkAlbumResults.artist.name }} - {{ wkAlbumResults.album.name }}<br>
                </a>
                <span *ngIf="wkAlbumResults.users.length > 1">
                    {{ 
                        wkAlbumResults.users.length == wkAlbumResults.total_users ? 
                        "Everyone knows " +  wkAlbumResults.album.name + " in " + group.name 
                        : wkAlbumResults.users.length + " out of " + wkAlbumResults.total_users + " users know " + wkAlbumResults.album.name  + " in " + group.name
                    }}, for a total of {{ wkAlbumResults.total_scrobbles }} scrobbles.
                </span>
                <span *ngIf="wkAlbumResults.users.length == 1">
                    Only {{ wkAlbumResults.users[0].username }} knows {{ wkAlbumResults.album.name }} in {{ group.name  }}!
                </span>
            </div>
            <table class="results-table" >
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th class="clickable" title="Click to sort" (click)="sort('scrobbles', 'wkAlbum')">Scrobbles</th>
                        <th class="clickable" title="Percent of the user's total number of scrobbles (click to sort)" (click)="sort('percent', 'wkAlbum')">%</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of wkAlbumResults.users; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ entry.username }}</td>
                        <td>{{ entry.scrobbles }}</td>
                        <td>{{ entry.percent }}</td>
                        <td><a href="https://www.last.fm/user/{{ entry.username }}" target="_blank" class="lastfm-icon"><i class="fab fa-lastfm"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <span *ngIf="wkAlbumInit === undefined">No one knows this album in {{ group.name }}.</span>
        <div *ngIf="!wkAlbumResults && wkAlbumInit" style="padding-bottom: 10px;">
            <mat-spinner diameter="25" color="accent" class="center-all"></mat-spinner>
        </div>
    </div>

    <!-- wkTrack -->
    <div class="box center command-box" #wkTrack >
        <h2 class="box-title">Who Knows This Track</h2>
        <div class="container">
            <form [formGroup]="wkTrackForm" class="box-form" (ngSubmit)="wkTrackSubmit(wkTrackForm.value, group.members)">
                <mat-form-field appearance="legacy" class="full-width" color="accent">
                    <input matInput name="name" placeholder="Foals - Black Gold, Coldplay - Viva La Vida, etc." type="text" formControlName="query">
                </mat-form-field>
                <div class="box-button">
                    <button color="accent" mat-raised-button type="submit"><mat-icon>search</mat-icon></button>
                </div>
            </form>
        </div>
        <div class="command-result" *ngIf="wkTrackResults">
            <div class="command-result-summary">
                <a href="{{ wkTrackResults.track.url }}" target="_blank">
                    {{ wkTrackResults.artist.name }} - {{ wkTrackResults.track.name }}<br>
                </a>
                <span *ngIf="wkTrackResults.users.length > 1">
                    {{ 
                        wkTrackResults.users.length == wkTrackResults.total_users ? 
                        "Everyone knows " +  wkTrackResults.track.name + " in " + group.name 
                        : wkTrackResults.users.length + " out of " + wkTrackResults.total_users + " users know " + wkTrackResults.track.name  + " in " + group.name
                    }}, for a total of {{ wkTrackResults.total_scrobbles }} scrobbles.
                </span>
                <span *ngIf="wkTrackResults.users.length == 1">
                    Only {{ wkTrackResults.users[0].username }} knows {{ wkTrackResults.track.name }} in {{ group.name  }}!
                </span>
            </div>
            <table class="results-table" >
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th class="clickable" title="Click to sort" (click)="sort('scrobbles', 'wkTrack')">Scrobbles</th>
                        <th class="clickable" title="Percent of the user's total number of scrobbles (click to sort)" (click)="sort('percent', 'wkTrack')">%</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of wkTrackResults.users; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ entry.username }}</td>
                        <td>{{ entry.scrobbles }}</td>
                        <td>{{ entry.percent }}</td>
                        <td><a href="https://www.last.fm/user/{{ entry.username }}" target="_blank" class="lastfm-icon"><i class="fab fa-lastfm"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <span *ngIf="wkTrackInit === undefined">No one knows this track in {{ group.name }}.</span>
        <div *ngIf="!wkTrackResults && wkTrackInit" style="padding-bottom: 10px;">
            <mat-spinner diameter="25" color="accent" class="center-all"></mat-spinner>
        </div>
    </div>
</div>