<!-- Now Playing -->
<div class="box center now-playing-container">
    <div style="position: relative;">
        <h2 class="box-title">Listening Activity</h2> 
        <a class="refresh clickable" style="top: -8px;" (click)="scrobbleHistory('overall', null, group.members)" matTooltip="Group Scrobble History — Overall" matTooltipPosition="above"><mat-icon [inline]="true">history</mat-icon></a>
    </div>
    <div class="now-playing-errors" *ngIf="!nowPlayingResults || nowPlayingTimeoutReached">
        <span *ngIf="nowPlayingTimeoutReached; else errorBlock">Listening activity interval expired. Please refresh.</span>
        <ng-template #errorBlock>
            <mat-spinner diameter="25" color="accent" class="center-all" *ngIf="nowPlayingResults === null"></mat-spinner>
            <span *ngIf="nowPlayingResults === undefined">Error getting user activity data. Please refresh.</span>
        </ng-template>
    </div>
    <div>
    </div>
    <div class="container" style="flex-wrap: wrap;">
        <div *ngFor="let entry of nowPlayingResults" class="now-playing-box">
            <strong><a href="https://last.fm/user/{{ entry.username }}" target="_blank" [class.now-playing-track]="!entry.timestamp" [matTooltip]="!entry.timestamp ? 'Listening now' : null" matTooltipPosition="above">{{ entry.username }}</a></strong>
            <span *ngIf="entry.timestamp" class="recently-played-track">
                <span title="{{ moment.unix(entry.timestamp) }}">{{ moment.unix(entry.timestamp).fromNow() }}</span>
            </span><br>
            <div class="clickable now-playing-artwork-container" (click)="nowPlayingToWk(entry, wkArtist)" matTooltip="Who knows {{ entry.artist }} in {{ group.name }}?" matTooltipPosition="right">
                <img src="{{ entry.image_url }}" width="110px">
            </div>
            <div class="now-playing-details">
                <span><a href="{{ entry.url }}" target="_blank" title="{{ entry.track }}" class="clear-color"><em>{{ entry.track }}</em></a></span>
                <span title="{{ entry.artist }}">{{ entry.artist }}</span>
                <span *ngIf="entry.album == ''; else normalAlbum" style="color: #bfbfbf;" matTooltip="Album name was not specified when this track was scrobbled." matTooltipPosition="above">Unknown Album*</span>
                <ng-template #normalAlbum>
                    <span title="{{ entry.album }}">{{ entry.album }}</span>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<div class="dash-grid-container">
    <!-- wkArtist -->
    <div class="box center command-box" #wkArtist >
        <div style="position: relative;">
            <h2 class="box-title">Who Knows This Artist</h2>
            <div class="left-cmd-buttons" *ngIf="wkArtistResults">
                <mat-icon [inline]="true">access_time</mat-icon>
                <span *ngIf="!wkArtistIsCustomDateRange">{{ leaderboardSliderMappings[wkArtistSelectedIndex].label }}</span>
                <span *ngIf="wkArtistIsCustomDateRange">{{ wkArtistCustomStartDate.format('MM/DD/YY') }} - {{ wkArtistCustomEndDate.format('MM/DD/YY') }}</span>
            </div>
            <div class="refresh">
                <mat-spinner *ngIf="wkArtistDateLoading" style="right: 73px;" diameter="19" color="accent"></mat-spinner>
            </div>
            <a class="refresh clickable" style="right: 36px; font-size: 23px;" *ngIf="wkArtistResults && wkArtistResults.users.length > 0" (click)="listeningTrends('wk', 'artist', wkArtistResults, wkArtistIsCustomDateRange ? wkArtistCustomStartDate : (wkArtistSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc().subtract(leaderboardSliderMappings[wkArtistSelectedIndex].days, 'd')), wkArtistIsCustomDateRange ? wkArtistCustomEndDate : (wkArtistSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc()))" matTooltip="Listening Trends — Group" matTooltipPosition="above"><mat-icon [inline]="true">timeline</mat-icon></a>
            <a class="refresh clickable" style="right: 13px; font-size: 22px;" *ngIf="wkArtistResults && wkArtistResults.users.length > 0" (click)="scrobbleHistory('artist', wkArtistResults, group.members, wkArtistIsCustomDateRange ? wkArtistCustomStartDate : (wkArtistSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc().subtract(leaderboardSliderMappings[wkArtistSelectedIndex].days, 'd')), wkArtistIsCustomDateRange ? wkArtistCustomEndDate : (wkArtistSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc()))" matTooltip="Group Scrobble History — Artist" matTooltipPosition="above"><mat-icon [inline]="true">history</mat-icon></a>
            <a class="refresh clickable" *ngIf="wkArtistResults" matTooltip="Custom Date Range" matTooltipPosition="above" (click)="customDateRange('Who Knows This Artist')"><mat-icon [inline]="true">date_range</mat-icon></a>
        </div>
        <div class="container">
            <form [formGroup]="wkArtistForm" class="box-form" (ngSubmit)="wkArtistSubmit(wkArtistForm.value, group.members);wkArtistSelectedIndex = leaderboardSliderMappings.length - 1;wkArtistIsCustomDateRange=false">
                <mat-form-field appearance="legacy" class="full-width" color="accent">
                    <input matInput #wkArtistInput name="name" placeholder="Coldplay, etc." type="text" formControlName="query" [matAutocomplete]="wkArtistAuto" (ngModelChange)="wkAutocomplete('artist', $event)">
                    <mat-autocomplete #wkArtistAuto="matAutocomplete" (optionSelected)="wkArtistSubmit({'query': $event.option.value}, group.members);wkArtistSelectedIndex = leaderboardSliderMappings.length - 1;wkArtistIsCustomDateRange=false">
                        <mat-option *ngFor="let s of wkArtistSuggestions.suggestions" [value]="s">{{ s }}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div class="box-button">
                    <button color="accent" mat-raised-button type="submit"><mat-icon>search</mat-icon></button>
                </div>
            </form>
        </div>
        <div class="command-result" *ngIf="wkArtistResults">
            <div class="command-result-summary">
                <a href="{{ wkArtistResults.artist.url }}" target="_blank">
                    {{ wkArtistResults.artist.name }}<br>
                </a>
                <span *ngIf="wkArtistResults.users.length > 1">
                    {{ 
                        wkArtistResults.users.length == wkArtistResults.total_users ? 
                        "Everyone knows " +  wkArtistResults.artist.name + " in " + group.name 
                        : wkArtistResults.users.length + " out of " + wkArtistResults.total_users + " users know " + wkArtistResults.artist.name  + " in " + group.name
                    }}, for a total of {{ wkArtistResults.total_scrobbles | number }} scrobbles.
                </span>
                <span *ngIf="wkArtistResults.users.length == 1">
                    Only {{ wkArtistResults.users[0].username }} knows {{ wkArtistResults.artist.name }} in {{ group.name  }}!
                </span>
                <span *ngIf="wkArtistResults.users.length == 0">No one knows {{ wkArtistResults.artist.name }} within this time period in {{ group.name }}.</span>
                <div>
                    <mat-slider invert [max]="leaderboardSliderMappings.length-1" (input)="onwkArtistSliderChange($event)" [value]="wkArtistSelectedIndex" class="wk-slider"></mat-slider>
                </div>
            </div>
            <table class="results-table" *ngIf="wkArtistResults.users.length > 0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th class="clickable" title="Click to sort" (click)="sort('scrobbles', 'wkArtist')">Scrobbles</th>
                        <th class="clickable" title="Percent of the user's total number of scrobbles (click to sort)" (click)="sort('percent', 'wkArtist')">%</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of wkArtistResults.users; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>
                            <span *ngIf="!entry.rankNum">{{ entry.username }}</span>
                            <span 
                                *ngIf="entry?.rankNum" class="wk-rank clickable" [class.wk-rank-num1]="entry?.rankNum == 1"
                                matTooltip="{{ wkArtistResults.artist.name }} is #{{ entry?.rankNum }} in {{ entry.username }}'s top artists for this period!" 
                                matTooltipPosition="right"
                                (click)="chartSelectedUser = [entry.id]; chartReleaseType = 'artist'; chartDropdownDate = leaderboardSliderMappings[wkArtistSelectedIndex].days; charts(wkArtistCustomStartDate, wkArtistCustomEndDate, null, true)"
                            >
                                {{ entry.username }} - #{{ entry?.rankNum }}
                            </span>
                        </td>
                        <td>{{ entry.scrobbles | number }}</td>
                        <td>{{ entry.percent | number: '1.2-2' }}</td>
                        <td class="wk-actions">
                            <a (click)="whoKnowsTop('artist', wkArtistResults, entry, wkArtistIsCustomDateRange ? wkArtistCustomStartDate : (wkArtistSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc().subtract(leaderboardSliderMappings[wkArtistSelectedIndex].days, 'd')), wkArtistIsCustomDateRange ? wkArtistCustomEndDate : (wkArtistSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc()))" matTooltip="Top Scrobbles — Artist" matTooltipPosition="above" class="lastfm-icon clickable"><mat-icon [inline]="true">leaderboard</mat-icon></a>
                            <a (click)="listeningTrends('user-track', 'artist', wkArtistResults, wkArtistIsCustomDateRange ? wkArtistCustomStartDate : (wkArtistSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc().subtract(leaderboardSliderMappings[wkArtistSelectedIndex].days, 'd')), wkArtistIsCustomDateRange ? wkArtistCustomEndDate : (wkArtistSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc()), entry)" matTooltip="Listening Trends — User" matTooltipPosition="above" class="lastfm-icon clickable"><mat-icon [inline]="true">timeline</mat-icon></a>
                        </td> 
                    </tr>
                </tbody>
            </table>
            <div class="wk-genres">
                <div style="padding-bottom: 0.5rem;">
                    <mat-chip-list>
                        <mat-chip class="listeners-chip" matTooltip="{{ wkArtistResults.artist.listeners | number }}" matTooltipPosition="above">
                            Listeners: {{ wkArtistResults.artist.listeners | shortNumber }}
                        </mat-chip>
                        <mat-chip class="playcount-chip" matTooltip="{{ wkArtistResults.artist.playcount | number }}" matTooltipPosition="above">
                            Scrobbles: {{ wkArtistResults.artist.playcount | shortNumber }}
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <mat-chip-list>
                    <mat-chip *ngFor="let genre of wkArtistResults.artist.genres">{{ genre }}</mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <span *ngIf="wkArtistInit === undefined">
            No one knows this artist in {{ group.name }}.<br>
            Alternate artist spelling? Click <a class="clickable" (click)="artistRedirects(wkArtistForm.value)">here</a> to validate and add it.
            <mat-spinner *ngIf="wkArtistRedirectLoading" diameter="19" color="accent" class="center-all"></mat-spinner>
        </span>
        <div *ngIf="!wkArtistResults && wkArtistInit" style="padding-bottom: 10px;">
            <mat-spinner diameter="25" color="accent" class="center-all"></mat-spinner>
        </div>
    </div>

    <!-- wkAlbum -->
    <div class="box center command-box" #wkAlbum >
        <div style="position: relative;">
            <h2 class="box-title">Who Knows This Album</h2>
            <div class="left-cmd-buttons" *ngIf="wkAlbumResults">
                <mat-icon [inline]="true">access_time</mat-icon>
                <span *ngIf="!wkAlbumIsCustomDateRange">{{ leaderboardSliderMappings[wkAlbumSelectedIndex].label }}</span>
                <span *ngIf="wkAlbumIsCustomDateRange">{{ wkAlbumCustomStartDate.format('MM/DD/YY') }} - {{ wkAlbumCustomEndDate.format('MM/DD/YY') }}</span>
            </div>
            <div class="refresh">
                <mat-spinner *ngIf="wkAlbumDateLoading" style="right: 73px;" diameter="19" color="accent"></mat-spinner>
            </div>
            <a class="refresh clickable" style="right: 36px; font-size: 23px;" *ngIf="wkAlbumResults && wkAlbumResults.users.length > 0" (click)="listeningTrends('wk', 'album', wkAlbumResults, wkAlbumIsCustomDateRange ? wkAlbumCustomStartDate : (wkAlbumSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc().subtract(leaderboardSliderMappings[wkAlbumSelectedIndex].days, 'd')), wkAlbumIsCustomDateRange ? wkAlbumCustomEndDate : (wkAlbumSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc()))" matTooltip="Listening Trends — Group" matTooltipPosition="above"><mat-icon [inline]="true">timeline</mat-icon></a>
            <a class="refresh clickable" style="right: 13px; font-size: 22px;" *ngIf="wkAlbumResults && wkAlbumResults.users.length > 0" (click)="scrobbleHistory('album', wkAlbumResults, group.members, wkAlbumIsCustomDateRange ? wkAlbumCustomStartDate : (wkAlbumSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc().subtract(leaderboardSliderMappings[wkAlbumSelectedIndex].days, 'd')), wkAlbumIsCustomDateRange ? wkAlbumCustomEndDate : (wkAlbumSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc()))" matTooltip="Group Scrobble History — Album" matTooltipPosition="above"><mat-icon [inline]="true">history</mat-icon></a>
            <a class="refresh clickable" *ngIf="wkAlbumResults" matTooltip="Custom Date Range" matTooltipPosition="above" (click)="customDateRange('Who Knows This Album')"><mat-icon [inline]="true">date_range</mat-icon></a>
        </div>
        <div class="container">
            <form [formGroup]="wkAlbumForm" class="box-form" (ngSubmit)="wkAlbumSubmit(wkAlbumForm.value, group.members);wkAlbumSelectedIndex = leaderboardSliderMappings.length - 1;wkAlbumIsCustomDateRange=false">
                <mat-form-field appearance="legacy" class="full-width" color="accent">
                    <input #wkAlbumInput matInput name="name" placeholder="Coldplay - Mylo Xyloto, etc." type="text" formControlName="query" [matAutocomplete]="wkAlbumAuto" (ngModelChange)="wkAutocomplete('album', $event)">
                    <mat-autocomplete #wkAlbumAuto="matAutocomplete" (optionSelected)="wkAlbumSubmit({'query': $event.option.value}, group.members, null, null, false, wkAlbumSuggestions.partial_result);wkAlbumSelectedIndex = leaderboardSliderMappings.length - 1;wkAlbumIsCustomDateRange=false">
                        <mat-option *ngFor="let s of wkAlbumSuggestions.suggestions" [value]="s" >{{ wkAlbumSuggestions.partial_result ? s.replace(' - ', '') : s }}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div class="box-button">
                    <button color="accent" mat-raised-button type="submit"><mat-icon>search</mat-icon></button>
                </div>
            </form>
        </div>
        <div class="command-result" *ngIf="wkAlbumResults">
            <div class="command-result-summary">
                <a href="{{ wkAlbumResults.album.url }}" target="_blank">
                    {{ wkAlbumResults.artist.name }} - {{ wkAlbumResults.album.name }}<br>
                </a>
                <span *ngIf="wkAlbumResults.users.length > 1">
                    {{ 
                        wkAlbumResults.users.length == wkAlbumResults.total_users ? 
                        "Everyone knows " +  wkAlbumResults.album.name + " in " + group.name 
                        : wkAlbumResults.users.length + " out of " + wkAlbumResults.total_users + " users know " + wkAlbumResults.album.name  + " in " + group.name
                    }}, for a total of {{ wkAlbumResults.total_scrobbles | number }} scrobbles.
                </span>
                <span *ngIf="wkAlbumResults.users.length == 1">
                    Only {{ wkAlbumResults.users[0].username }} knows {{ wkAlbumResults.album.name }} in {{ group.name  }}!
                </span>
                <span *ngIf="wkAlbumResults.users.length == 0">No one knows {{ wkAlbumResults.album.name }} within this time period in {{ group.name }}.</span>
                <div>
                    <mat-slider invert [max]="leaderboardSliderMappings.length-1" (input)="onwkAlbumSliderChange($event)" [value]="wkAlbumSelectedIndex" class="wk-slider"></mat-slider>
                </div>
            </div>
            <table class="results-table" *ngIf="wkAlbumResults.users.length > 0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th class="clickable" title="Click to sort" (click)="sort('scrobbles', 'wkAlbum')">Scrobbles</th>
                        <th class="clickable" title="Percent of the user's total number of scrobbles (click to sort)" (click)="sort('percent', 'wkAlbum')">%</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of wkAlbumResults.users; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>
                            <span *ngIf="!entry?.rankNum">{{ entry.username }}</span>
                            <span 
                                *ngIf="entry?.rankNum" class="wk-rank clickable" [class.wk-rank-num1]="entry?.rankNum == 1"
                                matTooltip="{{ wkAlbumResults.album.name }} is #{{ entry?.rankNum }} in {{ entry.username }}'s top albums for this period!" 
                                matTooltipPosition="right"
                                (click)="chartSelectedUser = [entry.id]; chartReleaseType = 'album'; chartDropdownDate = leaderboardSliderMappings[wkAlbumSelectedIndex].days; charts(wkAlbumCustomStartDate, wkAlbumCustomEndDate, null, true)"
                            >
                            {{ entry.username }} - #{{ entry?.rankNum }}
                            </span>
                        </td>
                        <td>{{ entry.scrobbles | number }}</td>
                        <td>{{ entry.percent | number: '1.2-2'}}</td>
                        <td class="wk-actions">
                            <a (click)="whoKnowsTop('album', wkAlbumResults, entry, wkAlbumIsCustomDateRange ? wkAlbumCustomStartDate : (wkAlbumSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc().subtract(leaderboardSliderMappings[wkAlbumSelectedIndex].days, 'd')), wkAlbumIsCustomDateRange ? wkAlbumCustomEndDate : (wkAlbumSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc()))" matTooltip="Top Scrobbles — Album" matTooltipPosition="above" class="lastfm-icon clickable"><mat-icon [inline]="true">leaderboard</mat-icon></a>
                            <a (click)="listeningTrends('user-track', 'album', wkAlbumResults, wkAlbumIsCustomDateRange ? wkAlbumCustomStartDate : (wkAlbumSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc().subtract(leaderboardSliderMappings[wkAlbumSelectedIndex].days, 'd')), wkAlbumIsCustomDateRange ? wkAlbumCustomEndDate : (wkAlbumSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc()), entry)" matTooltip="Listening Trends — User" matTooltipPosition="above" class="lastfm-icon clickable"><mat-icon [inline]="true">timeline</mat-icon></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <span *ngIf="wkAlbumInit === undefined">No one knows this album in {{ group.name }}.</span>
        <div *ngIf="!wkAlbumResults && wkAlbumInit" style="padding-bottom: 10px;">
            <mat-spinner diameter="25" color="accent" class="center-all"></mat-spinner>
        </div>
    </div>

    <!-- wkTrack -->
    <div class="box center command-box" #wkTrack >
        <div style="position: relative;">
            <h2 class="box-title">Who Knows This Track</h2>
            <div class="left-cmd-buttons" *ngIf="wkTrackResults">
                <mat-icon [inline]="true">access_time</mat-icon>
                <span *ngIf="!wkTrackIsCustomDateRange">{{ leaderboardSliderMappings[wkTrackSelectedIndex].label }}</span>
                <span *ngIf="wkTrackIsCustomDateRange">{{ wkTrackCustomStartDate.format('MM/DD/YY') }} - {{ wkTrackCustomEndDate.format('MM/DD/YY') }}</span>
            </div>
            <div class="refresh">
                <mat-spinner *ngIf="wkTrackDateLoading" style="right: 73px;" diameter="19" color="accent"></mat-spinner>
            </div>
            <a class="refresh clickable" style="right: 36px; font-size: 23px;" *ngIf="wkTrackResults && wkTrackResults.users.length > 0" (click)="listeningTrends('wk', 'track', wkTrackResults, wkTrackIsCustomDateRange ? wkTrackCustomStartDate : (wkTrackSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc().subtract(leaderboardSliderMappings[wkTrackSelectedIndex].days, 'd')), wkTrackIsCustomDateRange ? wkTrackCustomEndDate : (wkTrackSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc()))" matTooltip="Listening Trends — Group" matTooltipPosition="above"><mat-icon [inline]="true">timeline</mat-icon></a>
            <a class="refresh clickable" style="right: 13px; font-size: 22px;" *ngIf="wkTrackResults && wkTrackResults.users.length > 0" (click)="scrobbleHistory('track', wkTrackResults, group.members, wkTrackIsCustomDateRange ? wkTrackCustomStartDate : (wkTrackSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc().subtract(leaderboardSliderMappings[wkTrackSelectedIndex].days, 'd')), wkTrackIsCustomDateRange ? wkTrackCustomEndDate : (wkTrackSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc()))" matTooltip="Group Scrobble History — Track" matTooltipPosition="above"><mat-icon [inline]="true">history</mat-icon></a>
            <a class="refresh clickable" *ngIf="wkTrackResults" matTooltip="Custom Date Range" matTooltipPosition="above" (click)="customDateRange('Who Knows This Track')"><mat-icon [inline]="true">date_range</mat-icon></a>
        </div>
        <div class="container">
            <form [formGroup]="wkTrackForm" class="box-form" (ngSubmit)="wkTrackSubmit(wkTrackForm.value, group.members);wkTrackSelectedIndex = leaderboardSliderMappings.length - 1;wkTrackIsCustomDateRange=false">
                <mat-form-field appearance="legacy" class="full-width" color="accent">
                    <input #wkTrackInput matInput name="name" placeholder="Coldplay - Paradise, etc." type="text" formControlName="query" [matAutocomplete]="wkTrackAuto" (ngModelChange)="wkAutocomplete('track', $event)">
                    <mat-autocomplete #wkTrackAuto="matAutocomplete" (optionSelected)="wkTrackSubmit({'query': $event.option.value}, group.members, null, null, false, wkTrackSuggestions.partial_result);wkTrackSelectedIndex = leaderboardSliderMappings.length - 1;wkTrackIsCustomDateRange=false">
                        <mat-option *ngFor="let s of wkTrackSuggestions.suggestions" [value]="s">{{ wkTrackSuggestions.partial_result ? s.replace(' - ', '') : s }}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div class="box-button">
                    <button color="accent" mat-raised-button type="submit"><mat-icon>search</mat-icon></button>
                </div>
            </form>
        </div>
        <div class="command-result" *ngIf="wkTrackResults">
            <div class="command-result-summary">
                <a href="{{ wkTrackResults.track.url }}" target="_blank">
                    {{ wkTrackResults.artist.name }} - {{ wkTrackResults.track.name }}<br>
                </a>
                <span *ngIf="wkTrackResults.users.length > 1">
                    {{ 
                        wkTrackResults.users.length == wkTrackResults.total_users ? 
                        "Everyone knows " +  wkTrackResults.track.name + " in " + group.name 
                        : wkTrackResults.users.length + " out of " + wkTrackResults.total_users + " users know " + wkTrackResults.track.name  + " in " + group.name
                    }}, for a total of {{ wkTrackResults.total_scrobbles | number }} scrobbles.
                </span>
                <span *ngIf="wkTrackResults.users.length == 1">
                    Only {{ wkTrackResults.users[0].username }} knows {{ wkTrackResults.track.name }} in {{ group.name  }}!
                </span>
                <span *ngIf="wkTrackResults.users.length == 0">No one knows {{ wkTrackResults.track.name }} within this time period in {{ group.name }}.</span>
                <div>
                    <mat-slider invert [max]="leaderboardSliderMappings.length-1" (input)="onwkTrackSliderChange($event)" [value]="wkTrackSelectedIndex" class="wk-slider"></mat-slider>
                </div>
            </div>
            <table class="results-table" *ngIf="wkTrackResults.users.length > 0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th class="clickable" title="Click to sort" (click)="sort('scrobbles', 'wkTrack')">Scrobbles</th>
                        <th class="clickable" title="Percent of the user's total number of scrobbles (click to sort)" (click)="sort('percent', 'wkTrack')">%</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of wkTrackResults.users; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>
                            <span *ngIf="!entry?.rankNum">{{ entry.username }}</span>
                            <span 
                                *ngIf="entry?.rankNum" class="wk-rank clickable" [class.wk-rank-num1]="entry?.rankNum == 1"
                                matTooltip="{{ wkTrackResults.track.name }} is #{{ entry?.rankNum }} in {{ entry.username }}'s top tracks for this period!" 
                                matTooltipPosition="right"
                                (click)="chartSelectedUser = [entry.id]; chartReleaseType = 'track'; chartDropdownDate = leaderboardSliderMappings[wkTrackSelectedIndex].days; charts(wkTrackCustomStartDate, wkTrackCustomEndDate, null, true)"
                            >
                                {{ entry.username }} - #{{ entry?.rankNum }}
                            </span>
                        </td>
                        <td>{{ entry.scrobbles | number }}</td>
                        <td>{{ entry.percent | number: '1.2-2' }}</td>
                        <td class="wk-actions">
                            <a (click)="whoKnowsTop('track', wkTrackResults, entry, wkTrackIsCustomDateRange ? wkTrackCustomStartDate : (wkTrackSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc().subtract(leaderboardSliderMappings[wkTrackSelectedIndex].days, 'd')), wkTrackIsCustomDateRange ? wkTrackCustomEndDate : (wkTrackSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc()))" matTooltip="Top Scrobbles — Artist" matTooltipPosition="above" class="lastfm-icon clickable"><mat-icon [inline]="true">leaderboard</mat-icon></a>
                            <a [class.disable-click]="isDemo | async" (click)="scrobbleTrack()" *ngIf="user.username == entry.username" matTooltip="Manually Scrobble Track" matTooltipPosition="above" class="lastfm-icon clickable"><mat-icon [inline]="true">file_upload</mat-icon></a>
                        </td>                     
                    </tr>
                </tbody>
            </table>
        </div>
        <span *ngIf="wkTrackInit === undefined">No one knows this track in {{ group.name }}.</span>
        <div *ngIf="!wkTrackResults && wkTrackInit" style="padding-bottom: 10px;">
            <mat-spinner diameter="25" color="accent" class="center-all"></mat-spinner>
        </div>
    </div>
    
    <!-- scrobbleLeaderboard -->
    <div class="box center command-box" #scrobbleLeaderboard >
        <div style="position: relative;">
            <h2 class="box-title">Scrobble Leaderboard</h2> 
            <div class="left-cmd-buttons">
                <mat-icon [inline]="true">access_time</mat-icon>
                <span *ngIf="!isCustomDateRange">{{ leaderboardSliderMappings[leaderboardSelectedIndex].label }}</span>
                <span *ngIf="isCustomDateRange">{{ customStartDate.format('MM/DD/YY') }} - {{ customEndDate.format('MM/DD/YY') }}</span>
            </div>
            <div class="refresh">
                <mat-spinner *ngIf="leaderboardLoading" style="right: 73px;" diameter="19" color="accent"></mat-spinner>
            </div>
            <a class="refresh clickable" style="right: 36px; font-size: 23px;" *ngIf="leaderboardObject && leaderboardObject.leaderboard.length > 0" (click)="listeningTrends(userSettings.trendMode, null, null, isCustomDateRange ? customStartDate : (leaderboardSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc().subtract(leaderboardSliderMappings[leaderboardSelectedIndex].days, 'd')), isCustomDateRange ? customEndDate : (leaderboardSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc()))" matTooltip="Listening Trends" matTooltipPosition="above"><mat-icon [inline]="true">timeline</mat-icon></a>
            <a class="refresh clickable" style="right: 13px; font-size: 22px;" *ngIf="leaderboardObject && leaderboardObject.leaderboard.length > 0" (click)="scrobbleHistory('overall', null, group.members, isCustomDateRange ? customStartDate : (leaderboardSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc().subtract(leaderboardSliderMappings[leaderboardSelectedIndex].days, 'd')), isCustomDateRange ? customEndDate : (leaderboardSelectedIndex == leaderboardSliderMappings.length - 1 ? null : moment.utc()))" matTooltip="Group Scrobble History — Overall" matTooltipPosition="above"><mat-icon [inline]="true">history</mat-icon></a>
            <a class="refresh clickable" matTooltip="Custom Date Range" matTooltipPosition="above" (click)="customDateRange('Scrobble Leaderboard')"><mat-icon [inline]="true">date_range</mat-icon></a>
        </div>
        <div>
            <mat-slider invert [max]="leaderboardSliderMappings.length-1" (input)="onleaderboardSliderChange($event)" [value]="leaderboardSelectedIndex" style="width: 100%;"></mat-slider>
        </div>
        <div class="command-result" *ngIf="leaderboardObject">
            <div class="command-result-summary" *ngIf="leaderboardObject.leaderboard.length > 0">
                <a href="https://www.last.fm/user/{{ leaderboardObject.leaderboard[0].username }}" target="_blank">
                    {{ leaderboardObject.leaderboard[0].username }}<br>
                </a>
                <div *ngIf="!isCustomDateRange; else customText">
                    <span *ngIf="leaderboardLoadedIndex != leaderboardSliderMappings.length-1">{{ leaderboardObject.leaderboard[0].username }} has scrobbled the most tracks in the last <span style="text-decoration: underline;">{{ leaderboardSliderMappings[leaderboardLoadedIndex].label }}</span>!</span>
                    <span *ngIf="leaderboardLoadedIndex == leaderboardSliderMappings.length-1">{{ leaderboardObject.leaderboard[0].username }} has scrobbled the most tracks <span style="text-decoration: underline;">overall</span>!</span>
                </div>
                <ng-template #customText>
                    <span>{{ leaderboardObject.leaderboard[0].username }} scrobbled the most tracks between <span style="text-decoration: underline;">{{ customStartDate.format('MM/DD/YY') }}</span> and <span style="text-decoration: underline;">{{ customEndDate.format('MM/DD/YY') }}</span>!</span>
                </ng-template>
            </div>
            <table class="results-table" *ngIf="leaderboardObject.leaderboard.length > 0; else noScrobbles">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Scrobbles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of leaderboardObject.leaderboard; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ entry.username }}</td>
                        <td>{{ entry.scrobbles | number }}</td>                    
                    </tr>
                    <tr style="border-top: 0.5px solid #737373;">
                        <td></td>
                        <td>Total</td>
                        <td>{{ leaderboardObject.total | number }}</td>                    
                    </tr>
                </tbody>
            </table>
            <ng-template #noScrobbles>
                No one scrobbled any tracks in this time period.
            </ng-template>
        </div>
        
    </div>
    
    <!-- individualGroupCharts -->
    <div class="box center command-box" #individualGroupCharts>
        <div style="position: relative;">
            <h2 class="box-title">Individual & Group Charts</h2> 
            <div class="left-cmd-buttons">
                <mat-icon [inline]="true">access_time</mat-icon>
                <span *ngIf="!chartIsCustomDate">
                    {{ chartDropdownDate == -1 ? 'All time' : (chartDropdownDate == 1 ? '24 hours': chartDropdownDate + ' days')}}
                </span>
                <span *ngIf="chartIsCustomDate">{{ chartCustomStartDate.format('MM/DD/YY') }} - {{ chartCustomEndDate.format('MM/DD/YY') }}</span>
            </div>
            <div class="refresh">
                <mat-spinner *ngIf="chartLoading" style="right: 26px;" diameter="19" color="accent"></mat-spinner>
            </div>
            <a class="refresh clickable" (click)="customDateRange('Individual & Group Charts')" matTooltip="Custom Date Range" matTooltipPosition="above"><mat-icon [inline]="true">date_range</mat-icon></a>
        </div>
        <div class="chart-options" [class.disable-click]="chartLoading">
            <mat-form-field color="accent" style="width: 70px;">
                <mat-label>Release Type</mat-label>
                <mat-select [(ngModel)]="chartReleaseType" [(value)]="chartReleaseType" (selectionChange)="charts()">
                    <mat-option value="artist">Artist</mat-option>
                    <mat-option value="track">Track</mat-option>
                    <mat-option value="album">Album</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field color="accent" style="width: 35%;">
                <mat-label>Users</mat-label>
                <mat-select multiple [(ngModel)]="chartSelectedUser" [(value)]="chartSelectedUser">
                    <mat-select-trigger *ngIf="chartSelectedUser.includes(-1)">Everyone</mat-select-trigger>
                    <mat-option [value]="-1" #chartEveryone (click)="charts(chartCustomStartDate, chartCustomEndDate, true)">Everyone</mat-option>
                    <mat-option *ngFor="let u of group.members" [value]="u.id" (click)="chartSelectedUser.includes(-1) ? {} : charts(chartCustomStartDate, chartCustomEndDate)" [disabled]="chartSelectedUser.includes(-1)">{{ u.username }}<span *ngIf="u.username == user.username"> (you)</span></mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field color="accent" style="width: 70px;">
                <mat-label>Time Period</mat-label>
                <mat-select [(ngModel)]="chartDropdownDate" [(value)]="chartDropdownDate" (selectionChange)="charts()">
                    <mat-option disabled [value]="-2" *ngIf="chartDropdownDate == -2">Custom</mat-option>
                    <mat-option *ngFor="let o of leaderboardSliderMappings" [value]="o.days">{{ o.label }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div> 
        <div class="command-result" *ngIf="chartResults">
            <div class="command-result-summary" *ngIf="chartResults.length > 0">
                <a *ngIf="chartReleaseType == 'track'" href="{{ chartTopEntry.url }}" target="_blank">
                    {{ chartTopEntry.artist }} - {{ chartTopEntry.track }}<br>
                </a>
                <a *ngIf="chartReleaseType == 'album'" href="{{ chartTopEntry.url }}" target="_blank">
                    {{ chartTopEntry.artist }} - {{ chartTopEntry.album }}<br>
                </a>
                <a *ngIf="chartReleaseType == 'artist'" href="{{ chartTopEntry.artist_url }}" target="_blank">
                    {{ chartTopEntry.artist }}<br>
                </a>
                <div *ngIf="chartReleaseType == 'track'">{{ chartTopEntry.track }} {{ chartSelectedUser.includes(-1) ? "scores the highest in " + group.name + "." : "wins!" }}</div>
                <div *ngIf="chartReleaseType == 'album'">{{ chartTopEntry.album }} {{ chartSelectedUser.includes(-1) ? "scores the highest in " + group.name + "." : "wins!" }}</div>
                <div *ngIf="chartReleaseType == 'artist'">{{ chartTopEntry.artist }} {{ chartSelectedUser.includes(-1) ? "scores the highest in " + group.name + "." : "wins!" }}</div>
            </div>
            <table class="results-table" *ngIf="chartResults.length > 0; else noScrobbles">
                <thead>
                    <tr>
                        <th style="padding: 0px 3px 0px 3px;">#</th>
                        <th></th>
                        <th *ngIf="chartReleaseType == 'track'">Track</th>
                        <th *ngIf="chartReleaseType == 'album'">Album</th>
                        <th *ngIf="chartReleaseType == 'artist'">Artist</th>
                        <th class="clickable" matTooltip="Click to sort by scrobbles" matTooltipPosition="above" (click)="sort('scrobbles', 'charts')">Scrbl.</th>
                        <th *ngIf="chartSelectedUser.length > 1" class="clickable" matTooltip="Click to sort | Score(N) = log(user1_scrobbles) + log(user2_scrobbles) + ... + log(userN_scrobbles)" matTooltipPosition="above" (click)="sort('score', 'charts')">Score</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of chartResults">
                        <td>{{ entry.position }}</td>
                        <td *ngIf="chartReleaseType == 'track' || chartReleaseType == 'album'"><a href="{{ entry.url }}" target="_blank"><img src="{{ entry.image }}" class="chart-album-image"></a></td>
                        <td *ngIf="chartReleaseType == 'artist'"><a href="{{ entry.artist_url }}" target="_blank"><img src="{{ entry.artist_image }}" class="chart-artist-image"></a></td>
                        <td *ngIf="chartReleaseType == 'track'" class="chart-release">
                            <span>{{ entry.track }}</span><br>
                            <span>{{ entry.artist }}</span>
                        </td>
                        <td *ngIf="chartReleaseType == 'album'" class="chart-release">
                            <span>{{ entry.album }}</span><br>
                            <span>{{ entry.artist }}</span>
                        </td>
                        <td *ngIf="chartReleaseType == 'artist'">{{ entry.artist }}</td>
                        <td>{{ entry.scrobbles | number }}</td>    
                        <td *ngIf="chartSelectedUser.length > 1">{{ entry.score | number: '1.2-2' }}</td>
                        <td class="wk-actions">
                            <a (click)="nowPlayingToWk(entry, wkArtist, chartIsCustomDate ? chartCustomStartDate : (chartDropdownDate == -1 ? null : moment.utc().subtract(chartDropdownDate, 'd')), chartIsCustomDate ? chartCustomEndDate : (chartDropdownDate == -1 ? null : moment.utc()), true)" matTooltip="Who Knows — Artist/Album/Track" matTooltipPosition="above" class="lastfm-icon clickable"><mat-icon [inline]="true">help_center</mat-icon></a>
                            <a class="lastfm-icon clickable" (click)="scrobbleHistory(chartReleaseType, entry, group.members, chartIsCustomDate ? chartCustomStartDate : (chartDropdownDate == -1 ? null : moment.utc().subtract(chartDropdownDate, 'd')), chartIsCustomDate ? chartCustomEndDate : (chartDropdownDate == -1 ? null : moment.utc()), chartSelectedUser[0] == -1 ? 'all' : chartSelectedUser[0])" [matTooltip]="'Scrobble History — ' + chartReleaseType.charAt(0).toUpperCase() + chartReleaseType.slice(1)" matTooltipPosition="above"><mat-icon [inline]="true">history</mat-icon></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ng-template #noScrobbles>
                <span *ngIf="!chartSelectedUser.length; else reallyNoScrobbles">Select one or more users to generate a chart.</span>
                <ng-template #reallyNoScrobbles>No one scrobbled any tracks in this time period.</ng-template>
            </ng-template>
        </div>
    </div>

    <!-- placeholder -->
    <div class="box center command-box">
        <div style="position: relative;">
            <h2 class="box-title">Group Mainstream Factor</h2> 
        </div>
        <span>Coming soon.</span>
    </div>
</div>