<div *ngIf="signed_in; else signInPrompt">
    <div *ngIf="user && user.groups.length == 0" class="center-h-v">
        <h2>Welcome to Last.fm with Friends.</h2>
        <span *ngIf="!user.last_update">Your scrobbles are currently being fetched in the background.<br>While you wait, you may...<br><br></span>
        <app-join-group></app-join-group>
        — OR —
        <br><br>
        <p style="color: #bfbfbf;">Create a new group and start adding friends!</p>
        <button [routerLink]="['groups/create']" color="accent" mat-raised-button type="submit" style="margin-top: .4375em;">Create Group</button>
    </div>
    <div *ngIf="user && user.groups.length > 0 && userSettings">
        <div class="box" *ngIf="isDemo | async" style="padding: 15px 15px 11px 15px;">
            <h2 class="box-title center">Welcome to Demo Mode!</h2>
            <p class="center">
                Nice! You're signed into a Last.fm demo user. Feel free to click around!
                Please note that some features are grayed out/disabled in the demo mode.<br><br>
                When you're ready to get started with your own account, you may exit the demo.
            </p>
            <p class="center">
                <button color="accent" mat-raised-button (click)="exitDemo()">Exit Demo</button>
            </p>
        </div>
        <div class="box" style="position: relative;">
            <!-- <p>
                Welcome to Last.fm with Friends, {{ user.display_name ? user.display_name : user.username }}! You've scrobbled a total of {{ user.scrobbles | pluralize:'track' }} over the past
                <span>{{ moment.unix(user.registered).locale("en-US").toNow(true) }}</span> — 
                <span *ngIf="user.last_update" 
                        [matTooltip]="moment().add(30 - (moment().minute() % 30), 'minutes').startOf('minute').locale('en-US').format()" 
                        matTooltipPosition="above"
                >{{ "next update " + moment().add(30 - (moment().minute() % 30), 'minutes').startOf('minute').locale('en-US').fromNow() }}.</span>
                <span *ngIf="!user.last_update">updating now...</span>
            </p> -->
            <div class="info-banner">
                <strong>A note from the developer</strong><br> Thanks everyone for joining! As you may probably see, some features have stopped working due to the heaps and heaps of scrobbles y'all brought to the app. I am working on adjusting some of the features & DB queries so they don't time out. As with any project that uses COUNT(*) operators in queries, performance is affected. Stay tuned on the app as I iron out these issues! Thanks!
            </div>
            <p style="font-weight: bold;" class="center">Welcome to Last.fm with Friends, {{ user.display_name ? user.display_name : user.username }}. Here's what's counting:</p>
            <span class="home-info-icon clickable" matTooltip="About personal stats" matTooltipPosition="left" (click)="openPersonalStatsInfo()" *ngIf="user.stats"><i class="fas fa-info-circle"></i></span>
            <app-personal-stats [user]="user"></app-personal-stats>
            <p class="center">
                <span><a [routerLink]="['groups/join']">Join Group</a></span> • 
                <span *ngFor="let group of user.groups last as lastChild">
                    <strong><a [routerLink]="['groups/' + group.join_code]">{{ group.name }}</a> <span *ngIf="!lastChild"> • </span></strong>
                </span> •
                <span><a [routerLink]="['groups/create']">Create Group</a></span>
            </p>
            <p>
                
            </p>
        </div>
        <div class="box" *ngIf="user.scrobbles == 0">
            <h2 class="box-title center">We Don't Have Any Scrobbles From You!</h2>
            <p class="center">
                It looks like you haven't scrobbled anything yet! New to Last.fm? Connect to your preferred music service <a href="https://www.last.fm/about/trackmymusic" target="_blank">here</a>.
                If you're a Spotify user, you can quickly do this in your Last.fm settings <a href="https://www.last.fm/settings/applications" target="_blank">here</a> (Spotify Scrobbling).
            </p>
            <p class="center">
                After you connect your music service, allow some time for Last.fm to sync some of your most recent tracks to your <a href="https://www.last.fm/user/{{ user.username }}">Last.fm profile</a>.
                Once you start to see your recent tracks in your Last.fm profile, we'll automatically start fetching them for you
                (alternatively, you can manually trigger a user update in the Last.fm with Friends menu at any time).
            </p>
        </div>
        <div class="box" *ngIf="user.last_update && user.scrobbles > 0 && moment.utc().diff(moment.utc(user.last_update), 'weeks') >= 1" style="padding: 15px 15px 11px 15px;">
            <h2 class="box-title center">Get Listening!</h2>
            <p class="center">
                It looks like you haven't scrobbled anything recently — according to our data, you last scrobbled on 
                {{ moment.utc(user.last_update).locale('en-US').format('MMMM Do, YYYY') }}, {{ moment.utc(user.last_update).locale('en-US').fromNow() }}. Get listening!
            </p>
            <p class="center">
                If you <em>have</em> been listening, check your <a href="https://www.last.fm/user/{{ user.username }}">Last.fm profile</a> to ensure Last.fm is picking up scrobbles from your music service.
            </p>
        </div>
        <div *ngFor="let group of user.groups; last as lastChild; let i = index" #groupDoms id="group-{{ group.join_code }}">
            <div class="center-all group-dashboard-header" [class.group-collapsed]="userSettings.groupExpandedList[group.join_code] == false">
                <h1 class="box-title">
                    <span matTooltip="Visit {{ group.name }}'s page" matTooltipPosition="above" [routerLink]="['groups/' + group.join_code]" class="clickable">
                        {{ group.name }}
                    </span>
                </h1>
                <div class="group-dashboard-subtext">
                    <span>
                        <i class="fa fa-user"></i> {{ group.members.length }}
                        <span>
                            | <strong class="hide-join-code-mobile">Join Code: </strong>{{ group.join_code }}
                            <span class="clickable" (click)="messageService.copyJoinCode(group.join_code, group.name)" matTooltip="Copy to Clipboard" matTooltipPosition="above">
                                <i class="fas fa-copy"></i>
                            </span>
                        </span>
                    </span>
                    <span class="spacer"></span>
                    <!-- <span><em>{{ group.description }}</em></span> -->
                    <span 
                        [class.disable-click]="isDemo | async"
                        [class.normal-session]="user.group_session?.group_jc == group.join_code && user.group_session?.is_silent == false"
                        [class.silent-session]="user.group_session?.group_jc == group.join_code && user.group_session?.is_silent == true && user.username != user.group_session?.owner" 
                        class="beta group-session clickable" (click)="openGroupSession(group)"
                        [style.display]="userSettings.groupExpandedList[group.join_code] == false ? 'none' : 'unset'"
                    >
                        <span>
                            <i class="fas" 
                                [class.fa-plus]="user.group_session?.group_jc != group.join_code || (user.group_session?.is_silent == true && user.username == user.group_session?.owner)"
                                [class.fa-user]="user.group_session?.group_jc == group.join_code && user.group_session?.is_silent == false" 
                                [class.fa-user-secret]="user.group_session?.group_jc == group.join_code && user.group_session?.is_silent == true && user.username != user.group_session?.owner">
                            </i>{{ user.group_session?.group_jc != group.join_code || (user.group_session?.is_silent == true && user.username == user.group_session?.owner) ? "" : " " + user.group_session.members.length + " |" }}
                        </span> {{ user.group_session?.group_jc != group.join_code || (user.group_session?.is_silent == true && user.username == user.group_session?.owner) ? " GROUP SESSION" : " ACTIVE SESSION" }}
                    </span>
                </div>
                <button mat-icon-button color="accent"(click)="toggleGroup(group.join_code)"
                [ngClass]="userSettings.groupExpandedList[group.join_code] !== false ? 'group-dashboard-collapse' : 'group-dashboard-expand'">
                    <mat-icon matTooltip="Collapse" matTooltipPosition="above" 
                        *ngIf="userSettings.groupExpandedList[group.join_code] !== false">
                        expand_less
                    </mat-icon>
                    <mat-icon matTooltip="Expand" matTooltipPosition="above" 
                        *ngIf="userSettings.groupExpandedList[group.join_code] == false">
                        expand_more
                    </mat-icon>
                </button>
            </div>
            <app-group-dashboard 
                [group]="group" [user]="user" 
                [userSettings]="userSettings"
                *ngIf="userSettings.groupExpandedList[group.join_code] !== false"
            ></app-group-dashboard>
        </div>
    </div>
</div>
<ng-template #signInPrompt>
    <div *ngIf="!signed_in" class="center-h-v">
        <h2>Welcome to Last.fm with Friends!</h2>
        Last.fm with Friends extends existing Last.fm features to give music stats for a group of friends.<br>
        Sign in with your Last.fm account to get started or try out our demo.<br><br>
        <div id="homeButtons">
            <button color="accent" mat-raised-button (click)="gettingStarted()">Geting Started</button>
            <button color="primary" mat-raised-button [routerLink]="['/lastfmauth']">Sign In with Last.fm</button>
            <button color="accent" mat-raised-button (click)="enterDemo()" [disabled]="demoLoading">Try Out Demo</button>
        </div>
    </div>
</ng-template>