<div *ngIf="signed_in">
    <div *ngIf="signed_in && user" class="box">
        <p>Welcome, {{ user.username }}.</p>
        <p>
            <strong>My groups:</strong>
            <li *ngFor="let group of user.groups"><a [routerLink]="['groups/' + group.join_code]">{{ group.name }}</a> - {{ group.description }}</li>
        </p>
        <p>
            <a [routerLink]="['groups/join']">Join Group</a> | <a [routerLink]="['groups/create']">Create Group</a> 
        </p>
    </div>

    <div *ngFor="let group of user.groups; last as lastChild">
        <app-group-dashboard [group]="group"></app-group-dashboard>
        <hr *ngIf="!lastChild">
    </div>
</div>
